body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    color: #333;
}
/* HEADEER */
header {
    background-color: #2a9d8f;
    color: white;
}
/* NAV BAR */
nav {
    display: flex;
    justify-content: space-evenly;
}
nav a {
    text-decoration: none;
    color: blue;
    background-color: #e9c46a;
}

.container {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
}
aside {
    width: 15%;
    padding: 20px;
    background-color: #e9c46a;
}
aside img {
    width: 100%;
    border-radius: 10px;
}
aside ul {
    list-style-type: circle;
    padding-left: 20px;
}
main {
    width: 75%;
    display: flex;
    /* flex-flow: row wrap; */
    gap: 20px;
    padding: 10px;
}
article {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0);
    padding: 10px;
    flex: 1 1 30%;
}
article img {
    width: 100%;
    border-radius: 10px;
}

footer{
    text-align: center;
    padding: 15px;
    background-color: #2a9d8f;
    color: white;
}
/*Mobile view*/
@media (max-width: 700px) {

    body{ 
        width: 100%;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }

    .container {
        flex-direction: column;
    }

    aside {
        width: 100%;
        order: 2;
        padding: 0;
    }
    main {
        width: 100%;
        flex-direction: column;
    }
}
/*Print view */
@media print {
    nav, footer {
        display: none;
    }
    
    }


   
   
