body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    color: #333; 
}
header,footer {
    background-color: #000080;
    color: white;
    text-align: center;
    padding: 15px 0;
}
header h1 {
    font-size: 1.8em;
    margin-bottom: 5px;
}
header p {
    font-size: 1em;
    margin: 0;
}
footer p{
    font-size: 0.9em;
    margin: 0;
}
form {
    max-width: 700px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
fieldset {
    border: 2px solid  #0066cc;
    border-radius: 10px;
    padding: 20px;
}
legend {
    font-weight: bold;
    color: #0066cc;
    padding: 0 10px;
}
.form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.form-row label {
    flex: 1;
    margin-right: 180px;
    font-weight: bold;
}
.form-row input,
.form-row select,
.form-row textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f7faf7;
}
.radio-group  label{
    margin-right: 15px;
}
.checkbox label {
    display: flex;
    align-items: center;
}
button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
}
    
button:hover {
    background-color:#004c99;
}
@media (max-width: 600px) {
    form {
        width: 90%;
        margin: 30px auto;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .form-row {
        flex-direction: column;
        align-items: flex-start;
    }
    .form-row label {
        width: 100%;
        margin-bottom: 5px;
    }
    .form-row textarea{
        width: 90%;
    }
}
button {
    width: 100%;
    padding: 15px;
    font-size: 1.1em;
}

