body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #6a8bac;
    color: #222;
}
header, footer {
    background-color: #002855;
    color: rgb(151, 14, 14);
    text-align: center;
    padding: 1em;
}
nav {
    background-color: #003b80;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: rgb(16, 152, 34);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
main {
    flex: 3;
    margin-right: 20px;
}
aside {
    flex: 1;
    background-color: #606367;
    padding: 15px;
    border-radius: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
caption{
    font-weight: bold;
    margin-bottom: 10px;
}
th, td {
    border: 1px solid #8f0606;
    padding: 10px;
    text-align: left;
}
thead th{
    background-color: #004080;
    color: rgb(52, 14, 90);
}
tbody tr:nth-child(even) {
    background-color: #e55252;
}
tbody tr:nth-child(odd) {
    background-color: #a55454;
}
footer {
    margin-top: 20px;
    font-size:0.93em;
}