body{
    font-family: Arial, Helvetica, sans-serif;
}
.form-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}
.check-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}
.form-row label {
    width: 150px;
    text-align: right;
}
.spacer {
    width: 150px;
    text-align: right;
}
.form-row input:not([type='submit']),.form-row select,.form-row textaerea {
    padding: 8px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    background-color: brown;
}
.form-row input:not([type='submit']):focus,.form-row select,.form-row textaerea:focus {
    background-color: antiquewhite;
}

.form-row input[type='submit'] {
    background-color: rgb(135, 135, 169);
    color: white;
    padding: 5px 20px;
    border-radius: 3px;
}
fieldset {
    background-color: burlywood;
    width: 80%;
    margin: auto;
}
legend{
    background-color: blue;
    color: white;
    margin: auto;
}
@media ONLY screen AND (max-width:480px) {
    .form-row, .check-row {
        flex-direction: column;
    }
    .form-row label, .spacer {
        text-align: left;
    }
}
.check-row {
    display: flex;
    gap: 10px;
}