body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
iframe {
    border: 0;
}
.btn {
    display: block;
    padding: 10px;
    color: aqua;
    background-color: blue;
    width: 110px;
    text-align: center;
    transition: background-color 3s ease-in-out;
    transition-delay: 2s;

}
.btn:hover {
    background-color: lightblue;
}
#indiaflag {
    width: 100px;
    margin: 0;
    border: thick solid black;
    box-shadow: none5px 5px 5px black;

    transform: translate(150px,10px);
}
#indiaflag img {
    width: 100%;
}