body {
    font-family: Arial, Helvetica, sans-serif;
    /*margin-top: 300px; move content below our navigation */ 
}

nav a {
    display: block; /*inline-block */
    padding: 40px;
    background-color: aqua;
    border-bottom: thin solid black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.temple {
    border: thin solid black;
    width: 300px;

}
.floater { 
    float: left;

}
.hammer { 
    position: fixed;
    top: 10px;
    left: 200px;
    margin: 0;
    z-index: 10;
    display: none ;
}

*/
.hammer{
    position: relative;
    bottom: 20px;
    left: -300px;

}*/

.temple img {
    width: 100%;
}

.clear {
    clear: both;
}
